name: Test

on:
  push:
    branches:
      - main
  pull_request:
    types: [opened, synchronize]
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      rabbitmq:
        image: rabbitmq
        ports:
          - 5672
        env:
          RABBITMQ_DEFAULT_USER: guest
          RABBITMQ_DEFAULT_PASS: guest

    container:
      image: mcr.microsoft.com/devcontainers/python
    steps:
      - uses: actions/checkout@v4

      - name: Install hatch
        run: pipx install hatch

      - name: Test
        run: hatch test -ar

